<ion-navbar *navbar>
  <ion-title>Create Your Meal</ion-title>
</ion-navbar>
<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="mealType">
      <ion-segment-button value="alacarte">
        Ala Carte
      </ion-segment-button>
      <ion-segment-button value="buildyourown">
        Build Your Own
      </ion-segment-button>
      <ion-segment-button value="fullrecipe">
        Full Recipes
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="mealType">
    <ion-list *ngSwitchWhen="'alacarte'">
      <div *ngFor="#ingredient of alaCarte">
        <h2>{{ingredient.ingredientName}}</h2>
        <ala-carte-item *ngFor="#item of ingredient.items" [alaCarteItem]="item" (onToggle)="onToggleAlaCarte($event)"></ala-carte-item>
      </div>
      <button fab fab-bottom fab-center (click)="cookAlaCarte()">
        <ion-icon name="restaurant"></ion-icon>
      </button>
    </ion-list>
    <div *ngSwitchWhen="'buildyourown'">
      <h2>Build Your Own</h2>
      <p>Some copy about Build Your Own as a category</p>
      <byo-item *ngFor="#byoItem of byoItems" [byoItem]="byoItem" (click)="useByoItem(byoItem.id)"></byo-item>
    </div>
    <div *ngSwitchWhen="'fullrecipe'">
      <full-recipe-item *ngFor="#fullRecipeItem of fullRecipeItems" [fullRecipeItem]="fullRecipeItem" (click)="useFullRecipeItem(fullRecipeItem.id)"></full-recipe-item>
    </div>
  </div>
</ion-content>