<ion-slides pager class="ingredient-selection">
  <ion-slide *ngFor="#ingredientType of ingredientTypes">
    <!--<ion-content>-->
      <h2>{{ingredientSelectionHeader}}</h2>
      <h3>{{ingredientType.name}}</h3>
      <ion-list no-lines inset>
        <div *ngFor="#ingredient of ingredientType.ingredients">
          <ion-item>
            <ion-label>{{ingredient.name}}</ion-label>
            <ion-checkbox #ingredientCB (change)="selectIngredient(ingredient, ingredientCB.checked)"></ion-checkbox>
          </ion-item>
          <ion-col offset-10>
            <ion-item [hidden]="ingredientCB.checked" *ngFor="#ingredientForm of ingredient.forms">
              <ion-label>{{ingredientForm.name}}</ion-label>
              <ion-checkbox #formCB (change)="selectIngredientForm(ingredient, ingredientForm, formCB.checked)"></ion-checkbox>
            </ion-item>
          </ion-col>
        </div>
      </ion-list>
      <button class="swiper-button-prev"></button>
      <button class="swiper-button-next"></button>
    <!--</ion-content>-->
  </ion-slide>
</ion-slides>